                    <h2 class="mbottom-small">Nieuws</h2>
                    <table class="table-newsoverview mbottom-small">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td class="date"><span class="date">22-06-2015</span></td>
                                <td><a href="#" title="European salamanders and newts vulnerable to fungal disease from Asia" class="h3">European salamanders and newts vulnerable to fungal disease from Asia</a></td>
                            </tr>    
                            <tr>
                                <td class="date"><span class="date">21-06-2015</span></td>
                                <td><a href="#" title="UGent maakt jongeren reclamewijs met een game" class="h3">UGent maakt jongeren reclamewijs met een game</a></td>
                            </tr>    
                            <tr>
                                <td class="date"><span class="date">21-06-2015</span></td>
                                <td><a href="#" title="UGent maakt jongeren reclamewijs met een game" class="h3">UGent maakt jongeren reclamewijs met een game</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="#"><i class="glyphicon panno-arrow-right" aria-hidden="true"></i><span>Meer nieuws</span></a>