                    <h2 class="mbottom-small">Doctoraatsverdedigingen</h2>
                    <ul class="linklist-events list-unstyled">
                        <li>
                            <a href="#" class="block-link">
                                <div class="date-container faculty-4">
                                    <span class="month">jan</span>
                                    <span class="day">5</span>
                                </div>
                                <div class="content-container">
                                    <p class="h3"><span>Mechanistic insight into gravitropic responses of hypocotyl</span></p>
                                    <p class="date ellipsis">Jan Janssens</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="block-link">
                                <div class="date-container faculty-4">
                                    <span class="month">feb</span>
                                    <span class="day">11</span>
                                </div>
                                <div class="content-container">
                                    <p class="h3"><span>Mechanistic insight into gravitropic responses of hypocotyl</span></p>
                                    <p class="date ellipsis">Jan Janssens</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="block-link">
                                <div class="date-container faculty-4">
                                    <span class="month">maa</span>
                                    <span class="day">3</span>
                                </div>
                                <div class="content-container">
                                    <p class="h3"><span>Mechanistic insight into gravitropic responses of hypocotyl</span></p>
                                    <p class="date ellipsis">Jan Janssens</p>
                                </div>
                            </a>
                        </li>    
            
                    </ul>
                    <a class="btn btn-primary" href="#"><i class="glyphicon panno-arrow-right" aria-hidden="true"></i><span>Alle doctoraatsverdedigingen</span></a>