                <aside class="col-md-3">
                    <nav class="navbar sticky-top bg-tertiary padding-default" id="navigation">
                        <div>
                            <h2>Op deze pagina</h2>
                            <ul class="linklist linklist-dark">
                                <li><a href="#anchor1" class="">Voor wie</a></li>
                                <li><a href="#anchor2" class="">Opbouw</a></li>
                                <li><a href="#anchor3" class="">Bachelor</a></li>
                                <li><a href="#anchor4">Master na Bachelor</a></li>
                                <li><a href="#anchor5">Toekomstperspectief</a></li>
                                <li><a href="#anchor6">Inschrijven</a></li>
                                <li><a href="#anchor7">Studiegeld</a></li>
                                <li><a href="#anchor8">Open Lessen</a></li>
                                <li><a href="#anchor9">Try–Outs</a></li>
                                <li><a href="#anchor10">Infodag</a></li>
                                <li><a href="#anchor11">Extra infobeurs</a></li>
                                <li><a href="#anchor12">Infosessies voor ouders</a></li>
                                <li><a href="#anchor13">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </aside>