<!doctype html>
<html lang="nl">
<include src="head.html">
    {
        "title": "Detailpagina"
    }
</include>
    <body>
<include src="header.html">
    {
        "pageTitle": "",
        "class" : ""
    }
</include>
<include src="pages/generic-content/main.html"></include>
<include src="footer.html"></include>
        <script src="/js/main-tempus-dominus.js" type="text/javascript"></script>
        <script>
            new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'), {
                // options: https://getdatepicker.com/6/options/
            });
        </script>
    </body>
</html>