<!doctype html>
<html lang="nl">
<include src="head.html">
    {
        "title": "Homepagina vak/onderzoeksgroep en labo"
    }
</include>
    <body>
<include src="header.html">
    {
        "pageTitle": "Vakgroep interne geneeskunde en klinische biologie van de grote huisdieren",
        "class" : "small"
    }
</include>
<include src="pages/header-vakgroep/main.html"></include>
<include src="pages/header-vakgroep/footer.html"></include>
        <script src="/js/main.js" type="text/javascript"></script>
    </body>
</html>