            <div class="row mb-5">
                <div class="col-md-5 me-md-auto">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-5">
                                <h2>Opleiding en studie</h2>
                                <ul class="linklist mb-4">
                                    <li><a href="#">Les- en examenrooster</a></li>
                                    <li><a href="#">Academische kalender</a></li>
                                    <li><a href="#">Examens</a></li>
                                    <li><a href="#">Facultaire studentenpagina's</a></li>
                                    <li><a href="#">Facultaire studentenpagina's</a></li>
                                    <li><a href="#">Facultaire studentenpagina's</a></li>
                                    <li><a href="#">Stage</a></li>
                                </ul>
                                <a class="btn btn-primary" href="#" role="button"><i class="glyphicon panno-arrow-right" aria-hidden="true"></i>Bekijk alle links</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-5">
                                <h2>ICT en platformen</h2>
                                <ul class="linklist mb-4">
                                    <li><a href="#">Athena</a></li>
                                    <li><a href="#">Minerva</a></li>
                                    <li><a href="#">Webmail</a></li>
                                    <li><a href="#">Oasis</a></li>
                                    <li><a href="#">Verbinden met UGentNet</a></li>
                                </ul>
                                <a class="btn btn-primary" href="#" role="button"><i class="glyphicon panno-arrow-right" aria-hidden="true"></i>Bekijk alle links</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-5">
                                <h2>Administratie</h2>
                                <ul class="linklist mb-4">
                                    <li><a href="#">Adres wijzigen</a></li>
                                    <li><a href="#">Attesten (inschrijving, verzekering en NMBS)</a></li>
                                    <li><a href="#">Diploma's en attesten geïntegreerde opleidingen</a></li>
                                    <li><a href="#">Diploma- en creditbewijs</a></li>
                                    <li><a href="#">Flexibel studeren (bijzonder statuut)</a></li>
                                </ul>
                                <a class="btn btn-primary" href="#" role="button"><i class="glyphicon panno-arrow-right" aria-hidden="true"></i>Bekijk alle links</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-5">
                                <h2>Na je studies</h2>
                                <ul class="linklist mb-4">
                                    <li><a href="#">Alumniwerking</a></li>
                                    <li><a href="#">Doctoreren</a></li>
                                    <li><a href="#">Loopbaanadvies</a></li>
                                    <li><a href="#">Vacatureforum</a></li>
                                </ul>
                                <a class="btn btn-primary" href="#" role="button"><i class="glyphicon panno-arrow-right" aria-hidden="true"></i>Bekijk alle links</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-5">
                                <h2>Meer dan studeren</h2>
                                <ul class="linklist mbottom-default">
                                    <li><a href="#">Cultuur en vrije tijd</a></li>
                                    <li><a href="#">Eten en drinken</a></li>
                                    <li><a href="#">Sport</a></li>
                                    <li><a href="#">UGent-shop</a></li>
                                </ul>
                                <a class="btn btn-primary" href="#" role="button"><i class="glyphicon panno-arrow-right" aria-hidden="true"></i>Bekijk alle links</a>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-5 me-md-auto mt-5 mt-md-0">
<include src="pages/generic-home/news.html"></include>
                <div class="border-bottom mt-5 mb-5"></div>
<include src="pages/generic-home/calendar.html"></include>
                </div>
            </div>
            <div class="content-text pbottom-large row">
                <div class="col-md-4">
                    <div class="thumbnail mb-4 mb-md-0">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#imgModal">
                        <picture>
                            <source srcset="/images/placeholder-320x155.svg, /images/placeholder-640x640.svg 2x" type="image/svg+xml" media="(max-width: 767px)">
                            <source srcset="/images/placeholder-415x200.svg, /images/placeholder-830x400.svg 2x" type="image/svg+xml" media="(min-width: 768px)">
                            <img srcset="/images/placeholder-415x200.svg, /images/placeholder-830x400.svg 2x" alt="placeholder">
                        </picture>
                        </a>
                        <span class="caption">Hier is plek voor een bijschrift voor bovenstaande afbeelding.</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail mb-4 mb-md-0">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#imgModal">
                        <picture>
                            <source srcset="/images/placeholder-320x155.svg, /images/placeholder-640x640.svg 2x" type="image/svg+xml" media="(max-width: 767px)">
                            <source srcset="/images/placeholder-415x200.svg, /images/placeholder-830x400.svg 2x" type="image/svg+xml" media="(min-width: 768px)">
                            <img srcset="/images/placeholder-415x200.svg, /images/placeholder-830x400.svg 2x" alt="placeholder">
                        </picture>
                        </a>
                        <span class="caption">Hier is plek voor een bijschrift voor bovenstaande afbeelding.</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#imgModal">
                        <picture>
                            <source srcset="/images/placeholder-320x155.svg, /images/placeholder-640x640.svg 2x" type="image/svg+xml" media="(max-width: 767px)">
                            <source srcset="/images/placeholder-415x200.svg, /images/placeholder-830x400.svg 2x" type="image/svg+xml" media="(min-width: 768px)">
                            <img srcset="/images/placeholder-415x200.svg, /images/placeholder-830x400.svg 2x" alt="placeholder">
                        </picture>
                        </a>
                        <span class="caption">Hier is plek voor een bijschrift voor bovenstaande afbeelding.</span>
                    </div>
                </div>
            </div>
            <div class="modal" tabindex="-1" id="imgModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body position-relative">
                            <button type="button" class="btn-close position-absolute top-0 end-0 m-4" aria-label="Close" data-bs-dismiss="modal"></button>
                            <img src="/images/placeholder-640x320.svg">
                        </div>
                    </div>
                </div>
            </div>