                <section class="content-header-subhome mb-4">
                    <div class="row gx-0 align-self-stretch">
                        <div class="col-6">
                            <div class="bg-primary p-4 favorites-list">
                                <h2>Favorieten</h2>
                                <ul class="linklist mbottom-default">
                                    <li><a href="#">Les- en examenrooster</a></li>
                                    <li><a href="#">Academische kalender</a></li>
                                    <li><a href="#">Examens</a></li>
                                    <li><a href="#">Facultaire studentenpagina's</a></li>
                                    <li><a href="#">Stage</a></li>  
                                </ul>
                                <a class="btn btn-secondary btn-clean" href="#" role="button"><i class="glyphicon panno-arrow-right" aria-hidden="true"></i>Favoriet toevoegen</a>
                            </div>
                        </div>
                        <div class="col-6 bg-primary image-container">
                            <div class="bg-image-container" style="background-image: url(&quot;/images/reportage.jpg&quot;)"></div>
                        </div>
                    </div>
                </section>