        <div class="container-fluid">
            <div class="row">
                <section class="col-md-8">
                    <ul>
                        <li><a href="templates/basic-layout.html">Basic Lay-out</a></li>
                        <li><a href="templates/keuzepagina-blokken.html">Keuzepagina Blokken</a></li>
                        <li><a href="templates/generic-content.html">Detailpagina</a></li>
                        <li><a href="templates/generic-inpage-nav-left.html">Detailpagina met paginanavigatie</a></li>
                        <li><a href="templates/generic-home.html">Homepagina portaalsite NL</a></li>
                        <li><a href="templates/homepage-centrale-doelgroep.html">Homepagina centrale doelgroep</a></li>
                        <li><a href="templates/generic-subhome-faculteit.html">Homepagina faculteit</a></li>
                        <li><a href="templates/header-vakgroep.html">Homepagina vak/onderzoeksgroep en labo</a></li>
                        <li><a href="templates/search-results.html">Zoekresultaten</a></li>
                        <li><a href="templates/overview-news.html">Nieuwsoverzicht</a></li>
                        <li><a href="templates/a-z-index.html">A-Z index</a></li>
                        <li><a href="templates/errorpage.html">404 pagina</a></li>
                    </ul>
                </section>
            </div>
        </div>