                        <h2 class="mbottom-small">Agenda</h2>
                        <ul class="linklist-events list-unstyled">
                            <li>
                                <a href="#" class="block-link">
                                    <div class="date-container ">
                                        <span class="month">jan</span>
                                        <span class="day">5</span>
                                    </div>
                                    <div class="content-container">
                                        <p class="h3"><span>Symposium '2015 IIBN Forum'</span></p>
                                        <p class="date ellipsis"></p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block-link">
                                    <div class="date-container ">
                                        <span class="month">feb</span>
                                        <span class="day">11</span>
                                    </div>
                                    <div class="content-container">
                                        <p class="h3"><span>Symposium 'Master of Statistical Data Analysis'</span></p>
                                        <p class="date ellipsis"></p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="block-link">
                                    <div class="date-container ">
                                        <span class="month">maa</span>
                                        <span class="day">3</span>
                                    </div>
                                    <div class="content-container">
                                        <p class="h3"><span>Symposium '2015 IIBN Forum'</span></p>
                                        <p class="date ellipsis"></p>
                                    </div>
                                </a>
                            </li>    
                            <li>
                                <a href="#" class="block-link">
                                    <div class="date-container ">
                                        <span class="month">apr</span>
                                        <span class="day">29</span>
                                    </div>
                                    <div class="content-container">
                                        <p class="h3"><span>Symposium 'Master of Statistical Data Analysis'</span></p>
                                        <p class="date ellipsis"></p>
                                    </div>
                                </a>
                            </li>        
                        </ul>
                        <a class="btn btn-primary" href="#"><i class="glyphicon panno-arrow-right" aria-hidden="true"></i><span>Meer activiteiten</span></a>