                <section class="content-header-home">
                    <div class="row gx-0 align-self-stretch">
                        <div class="col-md-4">
                            <div class="bg-tertiary p-4">
                                <h2>Informatie voor</h2>
                                <ul class="linklist mbottom-default">
                                    <li><a href="#">Toekomstige studenten</a></li>
                                    <li><a href="#">Studenten</a></li>
                                    <li><a href="#">Alumni</a></li>
                                    <li><a href="#">Medewerkers</a></li>
                                    <li><a href="#">Bedrijven</a></li>  
                                </ul>
                                <h2>Populair</h2>
                                <ul class="linklist mbottom-default">
                                    <li><a href="#">Academische kalender</a></li>
                                    <li><a href="#">Faculteiten</a></li>
                                    <li><a href="#">Inschrijvingen</a></li>
                                    <li><a href="#">Restaurant</a></li>
                                    <li><a href="#">Les- en examenrooster</a></li>
                                </ul>
                                <h2>Opleidingsaanbod</h2>
                                <form role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Vind je bachelor of master" name="search-training" aria-label="search-training">
                                        <button type="submit" class="btn btn-secondary btn-clean">Zoek</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-8 bg-primary image-container">
                            <div class="bg-image-container" style="background-image: url(&quot;/images/header-en.png&quot;)"></div>
                            <div class="display">
                                <h1>De UGent is een open universiteit die aanzet tot kritisch en onafhankelijk denken.</h1>
                                <a class="standalone-link" href="#"><i class="glyphicon panno-arrow-right" aria-hidden="true"></i><span>Lees meer</span></a>
                            </div>
                        </div>
                    </div>
                </section>