        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-md-3">
                    <div class="bg-primary image-panel">
                        <img class="image" src="/images/illustration-errorpage.png">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="p-4 bg-tertiary mb-4">
                        <h1>Onze excuses</h1>
                        <h2>404 pagina</h2>
                        <p>De pagina die u zonet heeft opgevraagd, bestaat niet op dit webadres.<br>
                          Deze pagina werd mogelijk verplaatst, vervangen of verwijderd.</p>
                    </div>
                    <div class="pb-5 mb-4 border-bottom">
                        <h3>Wat kunt u doen?</h3>
                        <p>Meld het probleem aan de verantwoordelijke.</p>
                        <h3>Kreeg u deze foutmelding na het klikken op een link op deze website?</h3>
                        <p>Keer dan terug naar de vorige pagina: onderaan vindt u het e-mailadres van de verantwoordelijke
                          medewerker. Indien u hem op de hoogte brengt van het probleem, kan hij het probleem oplossen en u
                          verwijzen naar de juiste pagina.</p>
                        <h3>Werd u naar deze pagina doorgestuurd via een externe website of via een zoekmachine?</h3>
                        <p class="margin-none">U kunt dit melden aan het <a href="http://www.ugent.be/feedback">het portaalteam</a>.
                          Wij contacteren de webmaster van die website of vragen de zoekmachine om aanpassingen te doen.</p>
                    </div>
                    <div class="pbottom-large mbottom-default">
                        <h3 class="h2">Zoek de pagina op een andere manier</h3>
                        <p>Via de UGent Google Custom Search:</p>
                        <div class="col-md-6 mb-3">
                            <div class="input-group">
                                <input class="form-control" placeholder="" name="search-ugent" aria-label="search-ugent">
                                <button type="submit" class="btn">Zoek</button>
                            </div>
                        </div>
                        <p>Via onze <a href="http://www.ugent.be/nl/vragen">Veelgestelde vragen</a><br>Via onze <a href="http://www.ugent.be">homepagina</a></p>
                    </div>
                </div>
            </div>
        </div>