                <article class="col-md-9">
                    <div class="pe-md-5 pb-5 mb-5 border-bottom">
                        <h1>Bacheloropleidingen</h1>
                        <p class="lead">Bacheloropleidingen bestaan uit 180 studiepunten en duren 3 jaar. Aan de universiteit worden enkel academische bachelors aangeboden.</p>
                        <p>Dit diploma geeft je rechtstreeks toegang tot de aansluitende master. Wie al een diploma van professionele bachelor heeft, kan via een specifiek schakelprogramma overgaan naar de masteropleidingen.</p>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <div class="clearfix">
                                <picture>
                                    <source srcset="/images/placeholder-320x320.svg, /images/placeholder-640x640.svg 2x" type="image/svg+xml" media="(max-width: 767px)">
                                    <source srcset="/images/placeholder-415x415.svg, /images/placeholder-830x830.svg 2x" type="image/svg+xml" media="(min-width: 768px)">
                                    <img srcset="/images/placeholder-415x415.svg, /images/placeholder-830x830.svg 2x" alt="placeholder" class="col-4 float-end p-3">
                                </picture>
                                <h2>Bacheloropleidingen</h2>
                                <p>Bacheloropleidingen bestaan uit 180 studiepunten en duren 3 jaar.</p>            
                                <p>Aan de universiteit worden enkel academische bachelors aangeboden. Dit diploma geeft je rechtstreeks toegang tot de aansluitende master.</p>
                                <ul class="linklist">
                                    <li><a href="#">Aanbod bacheloropleidingen in GENT</a></li>
                                    <li><a href="#">Aanbod bacheloropleidingen in KORTRIJK</a></li>
                                    <li><a href="#">Bekijk alle bacheloropleidingen</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2>Masteropleidingen</h2>
                            <p>Master na Bachelor sluit rechtstreeks aan op minstens 1 academische bachelor.</p>
                            <p>Master na Master</p>
                            <p>Postgraduaten wijken qua structuur af van klassieke masters na masters of hebben een eerder beroepsvoorbereidend karakter.</p>
                            <ul class="linklist">    
                                <li><a href="#">In sommige bacheloropleidingen</a></li>
                                <li><a href="#">een ander studiegebied of 'minors'</a></li>
                                <li><a href="#">kan je je voorbereiden</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6 mb-5 mb-md-0">    
                            <h2>Lerarenopleiding</h2>
                            <p>Wil je jongeren begeleiden bij het ontwikkelen van hun kennis, vaardigheden en attitudes? Wens je een beroep met een sociaal karakter?</p>
                            <p>Ben je vlot in de omgang met jongeren en volwassenen? Kies je voor een job met veel variatie en uitdaging?… dan voldoet een loopbaan in het onderwijs aan je verwachtingen.</p>
                            <p>Leraar ben je niet zomaar, je kan het aanleren!</p>
                            <ul class="linklist">
                                <li><a href="#">Alles over de Lerarenopleiding</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="clearfix">
                                <picture>
                                    <source srcset="/images/placeholder-320x320.svg, /images/placeholder-640x640.svg 2x" type="image/svg+xml" media="(max-width: 767px)">
                                    <source srcset="/images/placeholder-415x415.svg, /images/placeholder-830x830.svg 2x" type="image/svg+xml" media="(min-width: 768px)">
                                    <img srcset="/images/placeholder-415x415.svg, /images/placeholder-830x830.svg 2x" alt="placeholder" class="col-4 float-end p-3">
                                </picture>
                                <h2>Permanente Vorming</h2>
                                <ul class="linklist">
                                    <li><a href="#">Aanbod opleidingen PV</a>
                                        <ul class="linklist">
                                            <li><a href="#">Aanbod WeNa</a></li>
                                            <li><a href="#">Opleidingen PV per faculteit</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Opleidingen PV samengebundeld</a></li>
                                    <li><a href="#">Facultaire instituten voor permanente vorming</a></li>
                                    <li><a href="#">Toelatingsvoorwaarden</a></li>
                                    <li><a href="#">Studiegeld</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="pb-5 border-bottom"></div>
                    </div>
                </article>