                <aside class="col-md-3">
                    <div class="mb-4">
                        <a href="/images/placeholder-640x320.svg" data-bs-toggle="modal" data-bs-target="#imgModal">
                            <picture>
                                <source srcset="/images/placeholder-320x160.svg, /images/placeholder-640x320.svg 2x" type="image/svg+xml" media="(max-width: 767px)">
                                <source srcset="/images/placeholder-236x115.svg, /images/placeholder-472x230.svg 2x" type="image/svg+xml" media="(min-width: 768px)">
                                <img class="" srcset="/images/placeholder-236x115.svg, /images/placeholder-472x230.svg 2x" alt="placeholder">
                            </picture>
                        </a>
                    </div>
                    <div class="bg-tertiary mb-4 p-4">
                        <h3 class="h2">Nuttige links</h3>
                        <ul class="linklist linklist-dark">
                        <li><a href="#">Doorstroming</a></li>
                        <li><a href="#">Studiekeuze</a></li>
                        <li><a href="#">Veelgestelde vragen</a></li>
                        <li><a href="#">Extra info</a></li>
                        <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="bg-tertiary mb-4 p-4">
                        <h3 class="h2">Fotoreportage</h3>
                        <a href="/images/placeholder-640x320.svg" data-bs-toggle="modal" data-bs-target="#imgModal">
                            <picture>
                                <source srcset="/images/placeholder-320x160.svg, /images/placeholder-640x320.svg 2x" type="image/svg+xml" media="(max-width: 767px)">
                                <source srcset="/images/placeholder-236x115.svg, /images/placeholder-472x230.svg 2x" type="image/svg+xml" media="(min-width: 768px)">
                                <img class="" srcset="/images/placeholder-236x115.svg, /images/placeholder-472x230.svg 2x" alt="placeholder">
                            </picture>
                        </a>
                    </div>
                    <div class="alert alert-warning" role="alert">
                        <h3>Opgelet aside</h3>
                        <p>Het is niet mogelijk om nog van studierichting te veranderen eens je hebt gekozen aside!</p>
                    </div>
                    <div class="modal" tabindex="-1" id="imgModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body position-relative">
                                    <button type="button" class="btn-close position-absolute top-0 end-0 m-4" aria-label="Close" data-bs-dismiss="modal"></button>
                                    <img src="/images/placeholder-640x320.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>