                <section class="col-md-9 mb-5">
                    <div class="border-bottom pb-5">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-primary" role="button">
                                    <i class="panno-arrow-left"></i>Vorig bericht
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-primary" role="button">
                                    <i class="panno-arrow-right"></i>Volgende bericht
                                </a>
                            </li>
                        </ul>
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-primary" role="button">
                                    <i class="panno-arrow-left"></i>UGent opnieuw in top 100 beste universiteiten
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn btn-primary" role="button">
                                    <i class="panno-arrow-right float-end"></i>Hetty Helsmoortel wint Wetenschapsbattle 2015
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>