                <section class="col-md-9 mb-5">
                    <div class="border-bottom pb-5">
                        <div class="mb-3" itemscope itemtype="http://schema.org/Organization">
                            <h2>Meer info</h2>
                            <p class="m-0" itemprop="brand">Vakgroep Toegepaste Materiaalwetenschappen</p>
                            <p class="m-0" itemprop="member">Joachim Vanwalleghem</p>
                            <p class="m-0"><a href="tel:09 331 00 31" itemprop="telephone">T 09 331 00 31</a></p>
                            <p class="m-0"><a href="mailto:joachim.vanwalleghem@ugent.be" itemprop="email">joachim.vanwalleghem@ugent.be</a></p>
                        </div>
                        <div class="mb-3" itemscope itemtype="http://schema.org/Organization">
                            <p class="m-0" itemprop="member">Joachim Vanwalleghem</p>
                            <p class="m-0"><a href="mailto:acs@ugent.be" itemprop="email">acs@ugent.be</a></p>
                        </div>
                    </div>
                </section>