                <section class="col-md-9 mb-5">
                    <div class="border-bottom pb-5">
                        <div class="mb-3" itemscope itemtype="http://schema.org/Organization">
                            <h2>Contact</h2>
                            <p class="m-0" itemprop="brand">Adviescentrum voor studenten</p>
                            <p class="m-0" itemprop="address">Sint–Pietersnieuwstraat 33</p>
                            <p class="m-0">
                                <span itemprop="postalcode">9000</span>
                                <span itemprop="city">Gent</span>
                            </p>
                            <p class="m-0"><a href="tel:09 331 00 31" itemprop="telephone">T 09 331 00 31</a></p>
                            <p class="m-0"><a href="mailto:acs@ugent.be" itemprop="email">acs@ugent.be</a></p>
                            <a href="#" class="standalone-link mt-3"><i class="glyphicon panno-arrow-right" aria-hidden="true"></i><span>Meer info</span></a>
                        </div>
                    </div>
                </section>