                <section class="col-md-9 mb-5">
                    <div class="border-bottom pb-5">
                        <ul class="linklist">
                            <li><a href="#" class="has-icon"><span>Download Word document</span><i class="fa-regular fa-file-word"><span class="visually-hidden">(.doc)</span></i></a></li>
                            <li><a href="#" class="has-icon"><span>Download pdf</span><i class="fa-regular fa-file-pdf"><span class="visually-hidden">(.pdf)</span></i></a></li>
                            <li><a href="#" class="has-icon"><span>Download Powerpoint</span><i class="fa-regular fa-file-powerpoint"><span class="visually-hidden">(.pptx)</span></i></a></li>
                            <li><a href="#" class="has-icon"><span>Download Excel document</span><i class="fa-regular fa-file-excel"><span class="visually-hidden">(.xls)</span></i></a></li>
                            <li><a href="#" class="has-icon"><span>Download Zip</span><i class="fa-regular fa-file-zipper"><span class="visually-hidden">(.zip)</span></i></a></li>
                            <li><a href="#" class="has-icon"><span>Download video</span><i class="fa-regular fa-file-video"><span class="visually-hidden">(video)</span></i></a></li>
                            <li><a href="#" class="has-icon"><span>Download audio</span><i class="fa-regular fa-file-audio"><span class="visually-hidden">(audio)</span></i></a></li>
                            <li><a href="#" class="has-icon"><span>Beveiligde link</span><i class="fa fa-lock "><span class="visually-hidden">(beveiligde link)</span></i></a></li>
                            <li><a href="#" class="has-icon"><span>Externe link</span><i class="fa fa-external-link"><span class="visually-hidden">(externe link)</span></i></a></li>
                            <li><a href="#" class="has-icon"><span>Photoshop</span><i class="fa-regular fa-file"><span class="visually-hidden">(.psd)</span></i></a></li>
                            <li><a href="#" class="has-icon"><span>InDesign</span><i class="fa-regular fa-file"><span class="visually-hidden">(.indd)</span></i></a></li>
                            <li><a href="#" class="has-icon"><span>Illustrator</span><i class="fa-regular fa-file"><span class="visually-hidden">(.eps)</span></i></a></li>
                        </ul>
                    </div>
                </section>