                <section class="col-md-9 mb-5">
                    <div class="border-bottom pb-5 d-md-flex flex-wrap">
                        <div class="col-md-5 mb-4">
                            <label for="datetimepicker1Input" class="form-label">Datetime Picker</label>
                            <div class="input-group" id="datetimepicker1" data-td-target="#datetimepicker1" data-td-toggle="datetimepicker">
                                <input id="datetimepicker1Input" type="text" class="form-control" placeholder="dd-mm-jjjj hh:mm">
                                <span class="input-group-text">
                                    <i class="fa-solid fa-calendar-days"></i>
                                </span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-5 mb-4">
                            <label for="select1" class="form-label">Maak een keuze</label>
                            <select class="form-select" id="select1" aria-label="Kies faculteit">
                                <option selected>Faculteiten dropdown menu</option>
                                <option value="">Geneeskunde en Gezondheidswetenschappen</option>
                                <option value="">Ingenieurswetenschappen en Architectuur</option>
                                <option value="">Economie en Bedrijfskunde</option>
                                <option value="">Dierengeneeskunde</option>
                                <option value="">Farmaceutische Wetenschappen</option>
                                <option value="">Psychologie en Pedagogische Wetenschappen</option>
                                <option value="">Bio-Ingenierswetenschappen</option>
                            </select>
                        </div>
                        <div class="col-md-3 ms-md-4 mb-4">
                            <label for="text1" class="form-label">Vul hier een tekst in</label>
                            <input type="text" class="form-control" id="text1" placeholder="Input text">
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                                <label class="form-check-label" for="checkbox1">Checkbox1</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox2">
                                <label class="form-check-label" for="checkbox2">Checkbox2</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkbox3">
                                <label class="form-check-label" for="checkbox3">Checkbox3</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio" id="radio1">
                                <label class="form-check-label" for="radio1">Radiobutton 1</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio" id="radio2" checked>
                                <label class="form-check-label" for="radio2">Radiobutton 2</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio" id="radio3" checked>
                                <label class="form-check-label" for="radio3">Radiobutton 3</label>
                            </div>
                        </div>
                    </div>
                </section>