                <section class="col-md-9 mb-5">
                    <div class="border-bottom pb-5">
                        <form>
                            <div class="row mb-3">
                                <label for="regular" class="col-md-2 col-form-label text-md-end">Default input field</label>
                                <div class="col-md-10">
                                    <input type="text" name="regular" class="form-control" id="regular">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="password" class="col-md-2 col-form-label text-md-end">Password</label>
                                <div class="col-md-10">
                                    <input type="password" name="password" class="form-control" id="password">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="placeholder" class="col-md-2 col-form-label text-md-end">With placeholder</label>
                                <div class="col-md-10">
                                    <input type="text" name="placeholder" class="form-control" id="placeholder" placeholder="placeholder">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="disabled" class="col-md-2 col-form-label text-md-end">Disabled</label>
                                <div class="col-md-10">
                                    <input type="text" name="disabled" class="form-control" id="disabled" placeholder="disabled" disabled>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="readonly" class="col-md-2 col-form-label text-md-end">Read only field</label>
                                <div class="col-md-10">
                                    <input type="text" name="readonly" class="form-control" id="readonly" value="readonly" readonly>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="password2" class="col-md-2 col-form-label text-md-end">Help text</label>
                                <div class="col-md-10">
                                    <input type="password" name="password2" class="form-control" id="password2" aria-describedby="passwordHelpBlock">
                                    <div id="passwordHelpBlock" class="form-text">
                                        Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="regular3" class="col-md-2 col-form-label text-md-end">Predefined value</label>
                                <div class="col-md-10">
                                    <input type="text" name="regular3" class="form-control" id="regular3" value="https://">
                                </div>
                            </div>
                            <div class="row mb-3 g-3">
                                <label class="col-md-2 col-form-label text-md-end">Column sizing</label>
                                <div class="col-5">
                                    <input type="text" class="form-control" placeholder="Straat" aria-label="Straat">
                                </div>
                                <div class="col-4 col-md-3">
                                    <input type="text" class="form-control" placeholder="Gemeente" aria-label="Gemeente">
                                </div>
                                <div class="col-3 col-md-2">
                                    <input type="text" class="form-control" placeholder="Postcode" aria-label="Postcode">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="succes" class="col-md-2 col-form-label text-md-end">Input success</label>
                                <div class="col-md-10">
                                    <input type="text" name="succes" class="form-control is-valid" id="succes">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="error" class="col-md-2 col-form-label text-md-end">Input errors</label>
                                <div class="col-md-10">
                                    <input type="text" name="error" class="form-control is-invalid" id="error">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="textarea" class="col-md-2 col-form-label text-md-end">Textarea</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" id="textarea" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-10 offset-md-2">
                                    <button type="submit" class="btn btn-default">Verstuur</button>
                                </div>
                            </div>
                            <h2 class="mb-4 mt-4">Bootstrap 5 Button Variations</h2>
                            <h3>Default buttons</h3>
                            <div class="mb-3">
                                <button type="button" class="btn">Default</button>
                                <button type="button" class="btn btn-primary">Primary</button>
                                <button type="button" class="btn btn-secondary">Secondary</button>
                                <button type="button" class="btn btn-tertiary">Tertiary</button>
                                <button type="button" class="btn btn-success">Success</button>
                                <button type="button" class="btn btn-danger">Danger</button>
                                <button type="button" class="btn btn-warning">Warning</button>
                                <button type="button" class="btn btn-info">Info</button>
                                <button type="button" class="btn btn-light">Light</button>
                                <button type="button" class="btn btn-dark">Dark</button>
                                <button type="button" class="btn btn-link">Link</button>
                            </div>
                            <h3>Default buttons</h3>
                            <div class="mb-3">
                                <button type="button" class="btn"><i class="glyphicon panno-plus"></i>Default</button>
                                <button type="button" class="btn btn-primary"><i class="glyphicon panno-plus"></i>Primary</button>
                                <button type="button" class="btn btn-secondary"><i class="glyphicon panno-plus"></i>Secondary</button>
                                <button type="button" class="btn btn-tertiary"><i class="glyphicon panno-plus"></i>Tertiary</button>
                                <button type="button" class="btn btn-success"><i class="glyphicon panno-plus"></i>Success</button>
                                <button type="button" class="btn btn-danger"><i class="glyphicon panno-plus"></i>Danger</button>
                                <button type="button" class="btn btn-warning"><i class="glyphicon panno-plus"></i>Warning</button>
                                <button type="button" class="btn btn-info"><i class="glyphicon panno-plus"></i>Info</button>
                                <button type="button" class="btn btn-light"><i class="glyphicon panno-plus"></i>Light</button>
                                <button type="button" class="btn btn-dark"><i class="glyphicon panno-plus"></i>Dark</button>
                                <button type="button" class="btn btn-link"><i class="glyphicon panno-plus"></i>Link</button>
                            </div>
                            <h3>Outline buttons</h3>
                            <div class="mb-3">
                                <button type="button" class="btn btn-outline">Default</button>
                                <button type="button" class="btn btn-outline-primary">Primary</button>
                                <button type="button" class="btn btn-outline-secondary">Secondary</button>
                                <button type="button" class="btn btn-outline-tertiary">Tertiary</button>
                                <button type="button" class="btn btn-outline-success">Success</button>
                                <button type="button" class="btn btn-outline-danger">Danger</button>
                                <button type="button" class="btn btn-outline-warning">Warning</button>
                                <button type="button" class="btn btn-outline-info">Info</button>
                                <button type="button" class="btn btn-outline-light">Light</button>
                                <button type="button" class="btn btn-outline-dark">Dark</button>
                            </div>
                            <h3>Button sizes</h3>
                            <div class="mb-3">
                                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                                <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                            </div>
                            <div class="mb-3">
                                <button type="button" class="btn btn-primary btn-md">Medium button</button>
                                <button type="button" class="btn btn-secondary btn-md">Medium button</button>
                            </div>
                            <div class="mb-3">
                                <button type="button" class="btn btn-primary btn-sm">Small button</button>
                                <button type="button" class="btn btn-secondary btn-sm">Small button</button>
                            </div>
                            <h3>Button states</h3>
                            <div class="mb-3">
                                <button type="button" class="btn btn-md btn-primary" disabled>Disabled</button>
                                <button type="button" class="btn btn-md btn-secondary" disabled>Disabled</button>
                            </div>
                            <h2 class="mb-4 mt-4">Form elements equal size</h2>
                            <div class="row mb-3">
                                <label for="regular2" class="col-md-2 col-form-label text-md-end">Search</label>
                                <div class="col-md-3">
                                    <input type="text" name="regular2" class="form-control w-100" id="regular2" placeholder="input">
                                </div>
                                <div class="col-md-4">
                                    <select class="form-select" id="regular2-select">
                                        <option selected>Options</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary btn-md">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
