                <section class="col-md-9 mb-5">
                    <div class="border-bottom pb-5 d-md-flex flex-wrap">
                        <div class="col-md-4 mb-5">
                            <h2>Ongeordende lijst</h2>
                            <ul>
                                <li>Eerste lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>        
                            </ul>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h2>Linklijst</h2>
                            <ul>
                                <li><a href="#">Eerste lijst item</a></li>
                                <li><a href="#">Volgende lijst item</a></li>
                                <li><a href="#">Volgende lijst item</a></li>
                                <li><a href="#">Volgende lijst item</a></li>
                                <li><a href="#">Volgende lijst item</a></li>
                                <li><a href="#">Volgende lijst item</a></li>
                                <li><a href="#">Volgende lijst item</a></li>
                                <li><a href="#">Volgende lijst item</a></li>
                                <li><a href="#">Volgende lijst item</a></li>
                                <li><a href="#">Volgende lijst item</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h2>Geordende lijst</h2>
                            <ol>
                                <li>Eerste lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item</li>        
                            </ol>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6 mb-5">
                            <h2>Geneste geordende lijst in ongeordende lijst</h2>
                            <ul>
                                <li>Eerste lijst item</li>
                                <li>Volgende lijst item</li>
                                <li>Volgende lijst item
                                    <ol>
                                        <li>Lijst item één</li>
                                        <li>Lijst item twee</li>
                                        <li>Lijst item drie</li>
                                        <li>Lijst item vier</li>
                                        <li>Lijst item vijf</li>
                                        <li>Lijst item zes</li>
                                    </ol>
                                </li>
                                <li>Volgende lijst item</li>        
                            </ul>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h2>Geneste ongeordende lijst in geordende lijst</h2>
                            <ol>
                                <li>Lijst item één</li>
                                <li>Lijst item twee</li>
                                <li>Lijst item drie
                                    <ul>
                                        <li>Eerste lijst item</li>
                                        <li>Volgende lijst item</li>
                                        <li>Volgende lijst item</li>
                                        <li>Volgende lijst item</li>
                                        <li>Volgende lijst item</li>
                                        <li>Volgende lijst item</li>
                                    </ul>
                                </li>
                                <li>Lijst item vier</li>        
                            </ol>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-8 mb-5 mb-md-0">
                            <h2>Omschrijving lijst</h2>
                            <dl class="row">
                                <dt class="col-2 col-md-4">Voor wie</dt>
                                <dd class="col-10 col-md-8">Alumni, Studenten, Peroneel</dd>
                                <dt class="col-2 col-md-4">Wanneer</dt>
                                <dd class="col-10 col-md-8">Donderdag 25 juni 2015, van 11:00u tot 12:00u</dd>
                                <dt class="col-2 col-md-4">Waar</dt>
                                <dd class="col-10 col-md-8">Het Pand, Onderbergen 1, 9000 Gent</dd>
                                <dt class="col-2 col-md-4">Voertaal</dt>
                                <dd class="col-10 col-md-8">Nederlands</dd>
                                <dt class="col-2 col-md-4">Organisator</dt>
                                <dd class="col-10 col-md-8">Vakgroep Letterkunde, Faculteit Letteren en Wijsbegeerte</dd>
                                <dt class="col-2 col-md-4">Contact</dt>
                                <dd class="col-10 col-md-8"><a href="mailto:joachim.vanwalleghem@ugent.be">joachim.vanwalleghem@ugent.be</a></dd>
                                <dt class="col-2 col-md-4">Website</dt>
                                <dd class="col-10 col-md-8"><a href="#">www.taalenletterkunde.ugent.be/permanentevorming</a></dd>
                            </dl>
                            <a href="#" class="btn btn-primary"><i class="glyphicon panno-plus"></i>Voeg toe aan agenda</a>
                        </div>
                    </div>
                </section>