        <div class="container-fluid">
<include src="pages/keuzepagina-blokken/breadcrumb.html"></include>
            <div class="row">
<include src="pages/keuzepagina-blokken/article.html"></include>
<include src="pages/generic-content/aside.html"></include>
<include src="pages/generic-content/text-image.html"></include>
<include src="pages/generic-content/text-block.html"></include> 
<include src="pages/generic-content/contact.html"></include>
<include src="pages/generic-content/accordion.html"></include>
<include src="pages/generic-content/responsive-video.html"></include>
<include src="pages/generic-content/caroussel.html"></include>
<include src="pages/generic-content/text-block2.html"></include>
<include src="pages/generic-content/contact2.html"></include>
<include src="pages/generic-content/social-share.html"></include>
<include src="pages/generic-content/buttons.html"></include>
<include src="pages/generic-content/lists.html"></include>
<include src="pages/generic-content/formfields.html"></include>
<include src="pages/generic-content/filetype-list.html"></include>
<include src="pages/generic-content/input.html"></include>
<include src="pages/generic-content/blockquote.html"></include>
<include src="pages/generic-content/sortable-table.html"></include>
            </div>
        </div>