                <section class="col-md-9 mb-0">
                    <div class="pb-5 mb-5 border-bottom">
                        <div class="mb-5">
                            <h2>Responsive video 16:9</h2>
                            <div class="ratio ratio-16x9">
                                <iframe src="https://www.youtube.com/embed/c7cilmw26qw" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                            <span class="caption">Hier is plek voor een bijschrift voor bovenstaande video.</span>
                        </div>
                        <div class="mb-5">
                            <h2>Responsive video 4:3</h2>
                            <div class="ratio ratio-4x3">
                                <iframe src="https://www.youtube.com/embed/c7cilmw26qw" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                            <span class="caption">Hier is plek voor een bijschrift voor bovenstaande video.</span>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="ratio ratio-16x9">
                                    <iframe src="https://www.youtube.com/embed/c7cilmw26qw" frameborder="0" allowfullscreen=""></iframe>
                                </div>
                                <span class="caption">Hier is plek voor een bijschrift voor bovenstaande video.</span>
                            </div>
                            <div class="col-6">
                                <div class="ratio ratio-4x3">
                                    <iframe src="https://www.youtube.com/embed/c7cilmw26qw" frameborder="0" allowfullscreen=""></iframe>
                                </div>
                                <span class="caption">Hier is plek voor een bijschrift voor bovenstaande video.</span>
                            </div>
                        </div>
                    </div>
                </section>