                <section class="col-md-9 mb-5">
                    <div class="pb-5">
                        <table class="table table-sortable">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="visually-hidden">Sorteer op </span>Titel 1
                                    </th>
                                    <th>
                                        <span class="visually-hidden">Sorteer op </span>Titel 2
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>sorteerbaar item B</td>
                                    <td>sorteerbaar item 4</td>
                                </tr>
                                <tr>
                                    <td>sorteerbaar item D</td>
                                    <td>sorteerbaar item 3</td>
                                </tr>
                                <tr>
                                    <td>sorteerbaar item C</td>
                                    <td>sorteerbaar item 1</td>
                                </tr>
                                <tr>
                                    <td>sorteerbaar item A</td>
                                    <td>sorteerbaar item</td>
                                </tr>
                            </tbody>
                        </table>
                        <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable/sortable.min.js"></script>
                    </div>
                </section>