                <section class="col-md-9 mb-5">
                    <div class="border-bottom pb-5">
                        <h2>Studiekeuze</h2>
                        <p>Enerzijds bestudeert de communicatiewetenschap daarbij de massamedia die een vorm van duplicatietechnologie vereisen: drukkunst, radio, televisie, film, digitale tekst, foto’s, beelden…</p>
                        <div class="alert alert-warning" role="alert">
                            <h3>Opgelet</h3>
                            <p>Het is niet mogelijk om nog van studierichting te veranderen eens je hebt gekozen!</p>
                        </div>
                        <p>Enerzijds bestudeert de communicatiewetenschap daarbij de massamedia die een vorm van duplicatietechnologie vereisen: drukkunst, radio, televisie, film, digitale tekst, foto’s, beelden…</p>
                        <ul class="linklist">
                            <li><a href="#">Doorstroming</a></li>
                            <li><a href="#">Studiekeuze</a></li>
                            <li>
                                <a href="#">Veelgestelde vragen</a>
                                <ul class="linklist">
                                    <li><a href="#">Doorstroming</a></li>
                                    <li><a href="#">Studiekeuze</a></li>
                                    <li><a href="#">Veelgestelde vragen</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Extra info</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </section>