                <section class="col-md-9 mb-0">
                    <div class="border-bottom pb-5 mb-5">
                        <div class="mb-5">
                            <h2>Veelgestelde vragen</h2>
                            <ul class="linklist">
                                <li><a href="#">Wanneer zijn de infodagen?</a></li>
                                <li><a href="#">Wanneer starten de inschrijvingen?</a></li>
                                <li><a href="#">Kan ik nog inschrijven na de start van het academiejaar?</a></li>
                                <li><a href="#">Bekijk alle veelgestelde vragen over dit onderwerp</a></li>            
                            </ul>
                        </div>
                        <div class="mb-5">
                            <h2>Extra info</h2>
                            <h3>Formulieren</h3>
                            <ul class="linklist">
                                <li><a href="#">Wanneer starten de inschrijfdagen?</a></li>
                                <li><a href="#">Wanneer starten de inschrijfdagen?</a></li>
                            </ul>
                        </div>
                        <div class="mb-5">
                            <h3>Reglementen</h3>
                            <ul class="linklist">
                                <li><a href="#">Kan ik nog inschrijven na de start van het academiejaar?</a></li>
                                <li><a href="#">Meer links</a></li>
                            </ul>
                        </div>
                        <div>
                            <h3>Externe links</h3>
                            <ul class="linklist mb-0">
                                <li><a href="#">Meer links</a></li>
                            </ul>
                        </div>
                    </div>
                </section>