                <section class="col-md-9 mb-5">
                    <div class="border-bottom pb-5">
                        <picture>
                            <source srcset="/images/placeholder-320x155.svg, /images/placeholder-640x640.svg 2x" type="image/svg+xml" media="(max-width: 767px)">
                            <source srcset="/images/placeholder-415x200.svg, /images/placeholder-830x400.svg 2x" type="image/svg+xml" media="(min-width: 768px)">
                            <img srcset="/images/placeholder-415x200.svg, /images/placeholder-830x400.svg 2x" alt="placeholder" class="col-5 float-start pe-4 pb-4">
                        </picture>
                        <h2>Doorstroming plaatje links</h2>
                        <p>In sommige bacheloropleidingen kan je je voorbereiden op een niet-aansluitende master via keuzepakketten uit een ander studiegebied of 'minors'.</p>
                        <p>In sommige bacheloropleidingen kan je je voorbereiden op een niet-aansluitende master via keuzepakketten uit een ander studiegebied of 'minors'.</p>
                        <p>In sommige bacheloropleidingen kan je je voorbereiden op een niet-aansluitende master via keuzepakketten uit een ander studiegebied of 'minors'.</p>
                    </div>
                </section>
                <section class="col-md-9 mb-5">
                    <div class="border-bottom pb-5">
                        <picture>
                            <source srcset="/images/placeholder-320x155.svg, /images/placeholder-640x640.svg 2x" type="image/svg+xml" media="(max-width: 767px)">
                            <source srcset="/images/placeholder-415x200.svg, /images/placeholder-830x400.svg 2x" type="image/svg+xml" media="(min-width: 768px)">
                            <img srcset="/images/placeholder-415x200.svg, /images/placeholder-830x400.svg 2x" alt="placeholder" class="col-5 float-end ps-4 pb-4">
                        </picture>
                        <h2>Doorstroming plaatje rechts</h2>
                        <p>In sommige bacheloropleidingen kan je je voorbereiden op een niet-aansluitende master via keuzepakketten uit een ander studiegebied of 'minors'.</p>
                        <p>In sommige bacheloropleidingen kan je je voorbereiden op een niet-aansluitende master via keuzepakketten uit een ander studiegebied of 'minors'.</p>
                        <p>In sommige bacheloropleidingen kan je je voorbereiden op een niet-aansluitende master via keuzepakketten uit een ander studiegebied of 'minors'.</p>
                    </div>
                </section>