        <div class="container-fluid">
            <header class="pageheader row mb-3 mb-md-2">
                <div class="col-md-2">
                    <div class="nav-container navbar align-items-start">
                        <div class="page-logo">
                            <a href="#" >
                                <img src="/images/logo_ugent_nl.svg" alt="Universiteit Gent">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <nav class="navbar navbar-default navbar-expand-md flex-md-column bg-primary"></nav>
                </div>
                <div class="col-md-10 offset-md-2 mt-3 mt-md-0 branding-container faculty-1 {{ class }}">
                    <a href="#"><h1>{{ pageTitle }}</h1></a>
                </div>
            </header>
        </div>