        <div class="container-fluid">
            <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Opleidingen</a></li>
            <li><a href="#">Broodkruimelpad</a></li>
            <li><a href="#">Broodkruimelpad</a></li>
            <li><a href="#">Broodkruimelpad</a></li>
            <li><a href="#">Broodkruimelpad</a></li>
            <li><a href="#">Broodkruimelpad</a></li>
            <li><a href="#">Broodkruimelpad</a></li>
            <li><a href="#">Broodkruimelpad</a></li>
            <li class="active"><span>Bacheloropleidingen</span></li>
            </ol>
            <div class="row">
                <section class="col-md-8">
                </section>
                <aside class="col-md-4">
                </aside>
            </div>
        </div>